<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body>
<navHeader th:replace="fragments  :: navHeader"></navHeader>
<h1 th:if="${errors}" class="error center" th:text="'Has Errors'"></h1>
<div class="container-fluid border theme-bg-color delayedDiv" id="delayedDiv">
    <!-- todo: put the name of the profile being edited either in the header or on the top line and not scrolling   -->
    <br />
    <div th:if="${alertMsg}" class="row">
        <div class="col-4"></div>
        <!-- todo: make alert message fade out after about 5 seconds   -->
        <div class="col-4 errorMsg center" th:text="${alertMsg}"></div>
    </div>
    <div th:unless="${formAction} == '/admin/addUser'"  class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <br/><br/>
                    <h2 class="center">Select User Profile To Edit</h2> <br /> <br />
                </div>
            </div>
            <form method="post" id="selectUser" action="/admin">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="editUser">Select User</label><br/>
                        <select name="editUser" id="editUser" onchange="loadUserProfile()" class="form-control">
                            <option value="-1">Select</option>
                            <option value="0"></option>
                            <option th:each="eachUser: ${allUsers}" th:value="${eachUser.id}" th:text="${eachUser.getFullNameBday()}"
                                th:selected="${eachUser.id} == ${user.id}">
                            </option>
                        </select>
                    </div>
               </div>
                <div class="row">
                    <div class="col-6"><hr/></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-6 center">
                        <a href="/admin/addUser"><button type="button" class="btn btn-primary btn-sm">Add User</button></a>
                        <a href="/user"><button type="button" class="btn btn-primary btn-sm">Cancel</button></a>
                    </div>
                </div>
            </form>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <hr class="wide"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 th:text="(${formAction} == '/admin/addUser')? 'New User Profile' : 'Profile for: ' + ${editUserName}" class="center theme-bg-color"></h3>
        </div>
    </div>
    <div th:replace="fragments :: pBlock"></div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>