.delayedDiv {
    visibility: hidden;
}

.theme-bg-color {
    background-color: darkblue;
    color: white;
}

.errorMsg {
    color: red;
    background-color: white
}

.large {
    font-size: large;
}

.monthName {
    font-size: x-large;
    text-align: center;
}

.events {
    font-size: large;
}

alert {
    border: red;
}

.slidecontainer {
    width: 100%;
}


input[type="text"][disabled] {
    background-color: grey;
}

.pBlock {
    width: 600px;
}

.login {
    width: 600px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    alignment: right;
    align-content: right;
}

a:link {
    color: white !important;
}
a:visited {
    color: white !important;
}
a:hover {
    color: lightblue !important;
}
hr {
    border: 3px solid darkgreen !important;
    border-radius: 2px !important;
}

hr.wide {
    border: 6px solid green !important;
    border-radius: 5px !important;
}

.btn {
    border-radius: 15px !important;
    width: 150px;
}

.btn-primary {
    font-size: small; !important;
    background-color: white !important;
    border-radius: 15px !important;
    color: black !important;
}

.navbar{ background:#4AAE52;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}