<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">TheFamilyConnection</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type = "text/javascript">
        <!--
        function confirmDelete() {
            var retVal = prompt("Are you sure that you want to delete this user?\n\n                     Type \"YES\" to confirm");
            if (retVal.toLowerCase() == 'yes') {
                var delURL = "/admin/deleteUser/" + document.getElementById("id").value;
                open(delURL,"_self");
            }
        }
        function revokeAccesss() {
            document.getElementById('admin').value='0';
            var slider = document.getElementById("admin");
            var output = document.getElementById("adminVal");
            output.innerHTML = slider.value;
            alert("Admin Level set to 0!");}

        function loadNewMonth() {
            var pickMonthURL = "/events/calendar/" + document.getElementById('pickMonth').value;
            open(pickMonthURL,"_self");
        }

        function loadUserProfile() {
            document.forms["selectUser"].submit();
        }

        setTimeout(function(){
            document.getElementById('delayedDiv').style.visibility = "visible";
        },1000);

        function enableDisableDOD () {
            var checked = document.getElementById('deceasedCB').checked;
            if (checked) {
                document.getElementById('dod').disabled = false;
            } else {
                document.getElementById('dod').value = null;
                document.getElementById('dod').disabled = true;
            }

        }
        //-->
    </script>
</head>
<body>
<navHeader th:fragment="navHeader">
    <!-- navbar -->
    <nav th:unless="${adminUser} and ${adminUser.admin > 0}" class="navbar navbar-expand-lg navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img th:src="@{/images/thefamilyconnection.png}" height="150px" width="300px" /></a>
                <div class="navbar-brand large">User: Guest</div>
            </div>
            <ul class="nav navbar-nav nabvar-right">
                <li class="nav-item">
                    <a href="/events"><button class="nav-link btn btn-primary btn-sm">Events</button></a>
                </li>
                <li class="nav-item">
                    <a href="/login"><button class="nav-link btn btn-primary btn-sm">Login</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav th:if="${adminUser} and ${adminUser.admin > 0}" class="navbar navbar-expand-lg navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img th:src="@{/images/thefamilyconnection.png}" height="150px" width="300px" /></a>
                <div class="navbar-brand large" th:text="'User: ' + ${adminUser.getFullName()}">User: Username</div>
                <p class="ltblue" th:if="${user} and ${user} != ${adminUser} and ${#strings.contains(#httpServletRequest.requestURI, 'admin')}" th:text="'Profile for: ' + ${user.getFullName()}"></p>
            </div>
            <ul class="nav navbar-nav nabvar-right">
                <li class="nav-item" th:if="${adminUser.admin} >= 5">
                    <a href="/admin"><button class="nav-link btn btn-primary btn-sm">Family Admin</button></a>
                </li>
                <li class="nav-item">
                    <a href="/user"><button class="nav-link btn btn-primary btn-sm">My Profile</button></a>
                </li>
                <li class="nav-item">
                    <a href="/events"><button class="nav-link btn btn-primary btn-sm">My Events</button></a>
                </li>
                <li class="nav-item">
                    <a href="/familytree"><button class="nav-link btn btn-primary btn-sm">Family Tree</button></a>
                </li>
                <li class="nav-item">
                    <a href="/logout"><button class="nav-link btn btn-primary btn-sm">Logout</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <br class="small" />
</navHeader>

<div th:fragment="pBlock">
    <form th:action="${formAction}" method="post" th:object="${user}">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="'Debug Info: ' + ${err}">Input is incorrect</li>
        </ul>
        <input type="hidden" th:field="*{id}" />
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr class="thin"/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">(Birth Name)</div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="bFName">First Name*</label><br/>
                <input type="text" th:field="*{bFName}" class="form-control"/>
                <span th:errors="*{bFName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bMName">Middle Name</label><br/>
                <input type="text" th:field="*{bMName}" class="form-control"/>
                <span th:errors="*{bMName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bLName">Last Name*</label><br/>
                <input type="text" th:field="*{bLName}" class="form-control"/>
                <span th:errors="*{bLName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bSuffix">Suffix</label><br/>
                <input type="text" th:field="*{bSuffix}" class="form-control"/>
                <span th:errors="*{bSuffix}" class="errorMsg"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr class="thin"/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">(Current Name)</div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="cFName">First Name</label><br/>
                <input type="text" th:field="*{cFName}" class="form-control"/>
                <span th:errors="*{cFName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="cMName">Middle Name</label><br/>
                <input type="text" th:field="*{cMName}" class="form-control"/>
                <span th:errors="*{cMName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="cLName">Last Name</label><br/>
                <input type="text" th:field="*{cLName}" class="form-control"/>
                <span th:errors="*{cLName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="cSuffix">Suffix</label><br/>
                <input type="text" th:field="*{cSuffix}" class="form-control"/>
                <span th:errors="*{cSuffix}" class="errorMsg"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr class="thin"/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="dob">Date of birth</label><br/>
                <input type="date" th:field="*{dob}" class="form-control"/>
                <span th:errors="*{dob}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="pob">Place of birth</label><br/>
                <input type="text" th:field="*{pob}" class="form-control"/>
                <span th:errors="*{pob}" class="errorMsg"></span>
            </div>
            <div  th:if="${adminUser.admin} >= 5 and ${adminUser.id} != *{id}" class="form-group col-2" onchange="enableDisableDOD()">
                <label for="deceasedCB">Deceased</label><br/>
                <input type="checkbox" name="deceasedCB" id="deceasedCB"  th:checked="*{dod != null}" class="form-control center-content" />
            </div>
            <div  th:if="${adminUser.admin} >= 5 and ${adminUser.id} != *{id}" class="form-group col-2">
                <label th:for="dod">Date of death</label><br/>
                <input type="date" th:field="*{dod}" class="form-control" th:disabled="*{dod} == null" />
                <span th:errors="*{dod}" class="errorMsg"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label for="mother">Mother</label><br/>
                <select name="mother" id="mother" class="form-control">
                    <option value="-1">Select</option>
                    <option value="0"></option>
                    <option th:each="eachUser: ${allMothers}" th:value="${eachUser.id}" th:text="${eachUser.getFullNameBday()}"
                            th:selected="${user.getMotherId()} == ${eachUser.id}"></option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="father">Father</label><br/>
                <select name="father" id="father" class="form-control">
                    <option value="-1">Select</option>
                    <option value="0"></option>
                    <option th:each="eachUser: ${allFathers}" th:value="${eachUser.id}" th:text="${eachUser.getFullNameBday()}"
                            th:selected="${user.getFatherId()} == ${eachUser.id}"></option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="spouse">Spouse</label><br/>
                <select name="spouse" id="spouse" class="form-control">
                    <option value="-1">Select</option>
                    <option value="0"></option>
<!--                    <option th:each="eachUser: ${allUsers}" th:value="${eachUser.key}" th:text="${eachUser.value}"-->
                    <option th:each="eachUser: ${allUsers}" th:value="${eachUser.id}" th:text="${eachUser.getFullNameBday()}"
                            th:selected="${user.getSpouseId()} == ${eachUser.id}"></option>
                </select>
            </div>
            <div class="form-group col-2">
                <label th:for="anniversary">Anniversary</label><br/>
                <input type="date" th:field="*{anniversary}" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="address">Address</label><br/>
                <input type="text" th:field="*{address}" class="form-control"/>
            </div>
            <div class="form-group col-2">
                <label th:for="city">City</label><br/>
                <input type="text" th:field="*{city}" class="form-control"/>
            </div>
            <div class="form-group col-2">
                <label th:for="state">State</label><br/>
                <input type="text" th:field="*{state}" class="form-control"/>
            </div>
            <div class="form-group col-2">
                <label th:for="zip">Zip</label><br/>
                <input type="text" th:field="*{zip}" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="primaryEmail">Email</label><br/>
                <input type="email" th:field="*{primaryEmail}" class="form-control"/>
            </div>
            <div class="form-group col-2">
                <label th:for="gender">Gender</label><br/>
                <select name="gender" id="gender" class="form-control">
                    <option value="0" th:selected="*{gender} == 0 ? 'selected'">Other/Unknown</option>
                    <option value="1" th:selected="*{gender} == 1 ? 'selected'">Female</option>
                    <option value="2" th:selected="*{gender} == 2 ? 'selected'">Male</option>
                </select>
            </div>
            <div th:if="${adminUser.admin} >= 5 and ${adminUser.id} != *{id}" class="form-group col-2">
                <label for="invite">Send Email Invitation</label><br/>
                <input type="checkbox" name="invite" id="invite" class="form-control" /> <!--onclick="document.getElementById('IdOfTheTextbox').disabled=this.checked;"-->
            </div>
            <div th:if="${adminUser.admin} >= 5 and ${adminUser.id} != *{id}" class="slidecontainer col-2">
                <label th:for="admin"> Admin Level</label>  <span id="adminVal"></span>
                <input  th:field="*{admin}" type="range" min="0" max="10" class="form-control"/>
            </div>
            <script>
                var slider = document.getElementById("admin");
                var output = document.getElementById("adminVal");
                output.innerHTML = slider.value;
                slider.oninput = function() {
                    output.innerHTML = this.value;
                }
            </script>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <hr class="thin"/>
            </div>
        </div>
        <div class="row" th:if="${adminUser.admin} > 2">
            <div class="col-3"></div>
            <div class="col-6 center-text">
                <button th:if="${formAction} == '/admin/addUser'" type="submit" class="btn btn-primary btn-sm">Add User</button>
                <button th:unless="${formAction} == '/admin/addUser'" type="submit" class="btn btn-primary btn-sm">Update</button>
                <a href="/user"><button type="button" class="btn btn-primary btn-sm">Cancel</button></a>
                <span th:if="${adminID} and ${adminUser.admin} > 5 and ${adminID} != *{id} and ${formAction} != '/admin/addUser'">
                    <button type="button" class="btn btn-danger btn-sm" onclick="revokeAccesss()">Revoke Access</button>
                    <a href="#"><button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete()">Delete User</button></a>
                </span>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">* required</div>
    </div>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
</div>
<footer class="theme-bg-color" th:fragment="footer">© 2019 TheFamilyConnection.org </footer>
</body>
</html>