<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">TheFamilyConnection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<navHeader th:fragment="navHeader">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="#"><img th:src="@{/images/thefamilyconnection.png}" width="300px" /></a>

        <h3 th:if="${userName}" th:text="'Username: ' + ${userName}"></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4" th:if="${user}">
                <li class="nav-item">
                    <a href="/user"><button class="nav-link w3-button w3-white w3-border w3-border-blue w3-round-large">My Profile</button></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link w3-button w3-white w3-border w3-border-blue w3-round-large w3-button-disable">Events</button>
                </li>
                <li class="nav-item">
                    <a href="/logout"><button class="nav-link w3-button w3-white w3-border w3-border-blue w3-round-large w3-button-disable">Logout</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
</navHeader>

<div class="container-fluid border theam-bg-color"  th:fragment="pBlock">
    <div class="row">
        <div class="col-12 center">
            <br/><br/>
            <h1 class="center">My Profile</h1> <br /> <br />
        </div>
    </div>
    <form method="post" th:object="${user}">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="'Debug Info: ' + ${err}">Input is incorrect</li>
        </ul>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">(Birth Name)</div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="bFName">First Name</label>
                <input type="text" th:field="*{bFName}" class="form-item"/>
                <span th:errors="*{bFName}" class="errorMsg"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bMName">Middle Name</label>
                <input type="text" th:field="*{bMName}" class="form-item"/>
                <span th:errors="*{bMName}" class="error"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bLName">Last Name</label>
                <input type="text" th:field="*{bLName}" class="form-item"/>
                <span th:errors="*{bLName}" class="error"></span>
            </div>
            <div class="form-group col-2">
                <label th:for="bSuffix">Suffix</label>
                <input type="text" th:field="*{bSuffix}" class="form-item"/>
                <span th:errors="*{bSuffix}" class="errorMsg"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">(Current Name)</div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="cFName">First Name</label>
                <input type="text" th:field="*{cFName}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="cMName">Middle Name</label>
                <input type="text" th:field="*{cMName}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="cLName">Last Name</label>
                <input type="text" th:field="*{cLName}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="cSuffix">Suffix</label>
                <input type="text" th:field="*{cSuffix}" class="form-item"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><hr/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label for="dobStr">Date of birth</label>
                <input type="date" id="dobStr" name="dobStr" th:value="${dobStr}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="pob">Place of birth</label>
                <input type="text" th:field="*{pob}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label for="dodStr">Date of death</label>
                <input type="date" id="dodStr" name="dodStr" th:value="${dodStr}" class="form-item"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label for="mother">Mother</label>
                <input type="text" id="mother" name="mother" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label for="father">Father</label>
                <input type="text" id="father" name="father" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label for="spouse">Spouse</label>
                <input type="text" id="spouse" name="spouse" class="form-item"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="address">Address</label>
                <input type="text" th:field="*{address}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="city">City</label>
                <input type="text" th:field="*{city}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="state">State</label>
                <input type="text" th:field="*{state}" class="form-item"/>
            </div>
            <div class="form-group col-2">
                <label th:for="zip">Zip</label>
                <input type="text" th:field="*{zip}" class="form-item"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-2">
                <label th:for="primaryEmail">Email</label>
                <input type="text" th:field="*{primaryEmail}" class="form-item"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center">
                <input type="submit" value="Update" />
            </div>
        </div>
    </form>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
</div>



</body>
</html>