<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<table border="1px" width="75%">
    <tr>
        <td align="center"><img src="http://www.thefamilyconnection.org/images/thefamilyconnection.png" /> </td>
        <td>Username:</td>
        <td></td>
        <td>My Profile</td>
        <td>Events</td>
    </tr>
</table>
<form>
    <label>Username</label>
    <input type="text" value="username" />
    <label>Password</label>
    <input type="password" value="password" />
    <input type="submit" value="Login" />
</form>
</body>
</html>