<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body>
<navHeader th:replace="fragments  :: navHeader"></navHeader>

<br/><br/>
<!--<p th:if ${errorMsg} th:text="${errorMsg}"></p> -->
<form method="post">
    <label>Username</label>
    <input type="text" name="username" /><br/>
    <label>Password</label>
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>

</body>
</html>